@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --color-dark-blue: #293356;
  --color-light-blue: #848ead;
}
